.display {
    grid-column: span 4;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    color: rgb(83, 64, 193);
    font-weight: bolder;
}