@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'Roboto','monospace';
}

body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right, rgb(103, 44, 162), rgb(67, 40, 219), rgb(103, 44, 162));
}